.module_comment_danmu
  .self_customization
    // font-size: 14px;
    // color: rgb(0, 255, 221);
    // left: 1009px;
    // top: 0px;
    // width: fit-content;
    background-color rgba(255, 88, 80, .6)
    padding 3px 10px!important
    border-radius 3px
    box-shadow 1px 1px 4px #e06969
    border none!important