//  css工具类
/* ===================================== utils class ===================================== */
.no_write_module_placeholder
  font-size 50px
  text-align center
  margin-top 50px

// 清浮动
clearfix()
  &:after
    display block
    content "."
    height 0
    line-height 0
    clear both
    visibility hidden
.clearfix
  &:after
    display block
    content "."
    height 0
    line-height 0
    clear both
    visibility hidden

// 防文字溢出
.text_overflow
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.common_btn
  display inline-block
  margin-left 8px
  cursor pointer
  background rgba(255,255,255,0.3)
  border 1px solid #727272
  color #f0f0f0
  border-radius 3px
  font-size 12px
  padding 4px 10px
  &:hover
    color $active_color
/* ===================================== 常用工具按钮 通类 class ===================================== */


/* ===================================== element-ui 通类 样式覆盖 ===================================== */
.my_input_32
  .el-input__inner
    padding 0 30px
    height 24px
    line-height 24px
    font-size 12px
  .el-input__prefix
    i
      margin-top 5px
  .el-input-group__append
    padding 0
    .el-button
      padding 6px 10px
      margin-right -1px
      border-top-left-radius 0
      border-bottom-left-radius 0
      font-size 12px
      background-color #2196f3
      color #fff
