// $app_main_bg_color = #000
$app_main_bg_color = #fff
$active_color = #2196f3
// border
$normal_border_color = #eee

// font color
$white_font_color = #fff
$black_font_color = #262626
$m_black_font_color = #333333
$gray_font_color = #999

// font size
$font_family = 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'Avenir', Helvetica, Arial, sans-serif

$small_font_size = 12px
$normal_font_size = 14px
$small_title_size = 16px
$normal_title_size = 18px
$big_title_size = 20px
$m_big_title_size = 24px
$l_big_title_size = 28px
